# Visual Studio files
.vs
bin
obj

# Compiled output
dist
tmp
out-tsc

# Dependencies
node_modules

# IDEs and editors
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
.project
.classpath
.c9/
*.launch
.settings/
xcuserdata/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings
reports
ClientApp/ClientApp/ClientApp/src/translations/template.*
ClientApp/ClientApp/ClientApp/src/environments/.env.*

# System Files
.DS_Store
Thumbs.db
