<h2>Rooms</h2>
<section class="example-section">
  
</section>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Rooom identificator</th>
      <td mat-cell *matCellDef="let room">{{ room.Id }}</td>
    </ng-container>

    <ng-container matColumnDef="RoomNo">
      <th mat-header-cell *matHeaderCellDef>Hotel Room number</th>
      <td mat-cell *matCellDef="let room">{{ room.hotelRoomNumber}}</td>
    </ng-container>

    

    <ng-container matColumnDef="delButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let room"><button class="btn btn-primary" >Usuń ofertę</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageIndex]="displayedPage" [pageSize]="pageSize"
    [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
